<h1><a>News Aggregator</a></h1>

    <% @articles.each do |article| %>
      <li>
        <a href= "https://<%= article.url %>" target='_blank' > <%= article.article_title %></a>
      </li>
    <% end %>

    <h3><a href="/articles/new">Submit Article</a></h3>
