  <h1><a>News Aggregator</a></h1>
   <h2>Submit Article</h2>
  <% if @error %>
  <h3><%= @error %></h3>
  <% end %>
  <form class="article_form" action="/articles/new" method="post">
    <label for="article_title">Article Title:</label>
    <input type="text" id="article_title" name="article_title" value = <%=@article_title %> >
    <label for="url">URL:</label>
    <input type="text" id="url" name="url" value = <%=@url %>>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" value = <%=@description %> >
    <input type="submit">
  </form>
  <p>
    <form>
  <input type="button" value="Previous page" onclick="history.back()">
</form>
